body{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    align-items: center;
    display: flex;
    flex-direction: column;
}
h1 {
    font-family:'Courier New', Courier, monospace;
    color:azure;
    font-size: 90px;
}
input {
    border-style: solid;
    padding: 10px;
    margin: 100px;
    border-color: azure;
    background: transparent;
    border-width: 2px;
    border-radius: 10px;
    color: azure;
    font-size: 200%;
}
p {
    color: azure;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    margin-top: 200px;
    text-align: center;
}